---
import { SITE } from '../config';
import { useTranslations } from '../i18n/utils';

const t = useTranslations();
const year = new Date().getFullYear();
---

<footer
  aria-label="Site Info"
  class="border-base-300 text-base-content/70 mt-10 border-t py-6 text-right text-sm"
>
  <p>
    © <time>{year}</time>{' '}
    <a href={SITE.author.url ?? '#'} rel="noopener" class="hover:text-primary">
      {SITE.author.name}
    </a>
    . {t('footer.copyright')}
  </p>
</footer>
